#column1 {
    float: left !important;
    padding-left: 10px;
    padding-right: 10px;
}
#column2 {
    float: left !important;
    padding-left: 10px;
    padding-right: 10px;
}


body {
    background-color: #e8f5fd;
}

.context-header {
    margin-left: 5%;
}

.twitter-button {
    background: url("../images/sign-in-with-twitter-gray.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16em;
    height: 3em;
}


.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
    font-size: inherit;
}

/* Add weight to project title */
#logo-container {
font-weight: 700;
}

.machine-learning-link {
font-weight: 600;
font-size: 1.5em;

}

.header {
font-weight: 600;
}

.sub-header {
font-weight: 400;
}

/* Filter Bar CSS */

/* .aag-container {
    position: relative !important;
}

.filter-bar {
    height: .01em !important;
} */

/* Graph Panel CSS */

.action-panel {
    background-color: rgba(0, 38, 255, 0.705);
}

.action-sub-panel {
    background-color: #99c9f5 !important;
}

.helper-panel {
    background-color:  rgba(0, 38, 255, 0.705);
}

.helper-sub-panel {
    background-color: #f1f4df !important;
}

.input-text {
    color: black;

}

.wiki-link {
    text-transform: none !important;
    color: rgba(0, 38, 255, 0.705) !important;
}

/* Graph CSS */

.line {
    fill: none;
    stroke-width: 3px;
  }

.line:hover {
    fill: none;
    stroke-width: 5px !important;
}

.aag-tooltip {
    position: absolute;
    width: 240px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    line-height: 1;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 10px;
}

.ma-tooltip {
    position: absolute;
    width: 240px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    line-height: 1;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 10px;
}

.time-tooltip {

    position: absolute;
    width: 240px;
    height: 70px;
    padding: 2px;
    padding-top: 8px;
    line-height: 1;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    border-radius: 10px;
}

/* .tweet-title {

} */