#column1 {
    float: left !important;
    padding-left: 10px;
    padding-right: 10px;
}
#column2 {
    float: left !important;
    padding-left: 10px;
    padding-right: 10px;
}


body {
    background-color: #f1f4df;
}

.context-header {
    margin-left: 5%;
}

.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
    font-size: inherit;
}

/* Add weight to project title */
#logo-container {
font-weight: 700;
}

.header {
font-weight: 600;
}

.sub-header {
font-weight: 400;
}