<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta charset="ut-8">
  <title>Tweetocracy</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Tweetocracy!</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header blue-text context-header">Context</h3>
      <div class = "divider"></div>
      <div class="row center">
        <h5 class="header header-description col l12 light">Over the past years, social media has had an increasing influence over American politics and elections. Social media allows candidates to bypass the traditional gatekeepers of mainstream media companies by talking directly to users. Attention-grabbing tactics, heated rhetoric, breaking scandals, etc. have made millions of impressions on users on social media - as the 2020 presidential elections approaches, there is no longer any doubt in the minds of candidates and campaign staffers of the necessity of establishing a strong and impactful presence online.</h5>
      </div>


      <button class = "twitter-button"></button>
      
      <br><br>

    </div>
  </div>

  <div class = "divider"></div>

    <div class = "row section valign-wrapper aag-container">


      <div class = "col m3 filter-bar">

        <div class = "card action-panel">

          <div class = "card-content white-text">
            <span class = "card-title">Choose Candidates:</span>
          </div>
          
          <div class = "card-action action-sub-panel">

            <form>

              <div class = "row">

                <!--First Candidate Column-->
                <div class = "col m6">

                  <p>
                    <label for = "joe-biden-checkbox">
                      <input class = "input-checkbox" id = "joe-biden-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                      <span class = "input-text">Joe Biden</span>
                    </label>
                  </p>

                  <p>
                    <label for = "cory-booker-checkbox">
                        <input class = "input-checkbox" id = "cory-booker-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Cory Booker</span>
                  </label>
                  </p>

                  <p>
                      <label for = "pete-buttigieg-checkbox">
                          <input class = "input-checkbox" id = "pete-buttigieg-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Pete Buttigieg</span>
                    </label>
                  </p>
                  
                  <p>
                      <label for = "kirsten-gillibrand-checkbox">
                          <input class = "input-checkbox" id = "kirsten-gillibrand-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Kirsten Gillibrand</span>
                    </label>
                  </p>

                  <p>
                      <label for = "mike-gravel-checkbox">
                          <input class = "input-checkbox" id = "mike-gravel-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Mike Gravel</span>
                    </label>
                  </p>

                  <p>
                      <label for = "kamala-harris-checkbox">
                          <input class = "input-checkbox" id = "kamala-harris-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Kamala Harris</span>
                    </label>
                  </p>

                  <p>
                      <label for = "john-hickenlooper-checkbox">
                          <input class = "input-checkbox" id = "john-hickenlooper-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">John Hickenlooper</span>
                    </label>
                  </p>

                  <p>
                      <label for = "bernie-sanders-checkbox">
                          <input class = "input-checkbox" id = "bernie-sanders-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Bernie Sanders</span>
                    </label>
                  </p>

                  <p>
                      <label for = "donald-trump-checkbox">
                          <input class = "input-checkbox" id = "donald-trump-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Donald Trump</span>
                    </label>
                  </p>

                  <p>
                      <label for = "elizabeth-warren-checkbox">
                          <input class = "input-checkbox" id = "elizabeth-warren-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Elizabeth Warren</span>
                    </label>
                  </p>

                  <p>
                      <label for = "bill-weld-checkbox">
                          <input class = "input-checkbox" id = "bill-weld-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Bill Weld</span>
                    </label>
                  </p>

                  <p>
                      <label for = "marianne-williamson-checkbox">
                          <input class = "input-checkbox" id = "marianne-williamson-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Marianne Williamson</span>
                    </label>
                  </p>

                  <p>
                      <label for = "andrew-yang-checkbox">
                          <input class = "input-checkbox" id = "andrew-yang-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Andrew Yang</span>
                    </label>
                  </p>

                  <p>
                      <label for = "tom-steyer-checkbox">
                          <input class = "input-checkbox" id = "tom-steyer-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Tom Steyer</span>
                    </label>
                  </p>

                </div>
                
                <!-- Second Candidate Column -->
                <div class = "col m6">

                  <p>
                      <label for = "julian-castro-checkbox">
                          <input class = "input-checkbox" id = "julian-castro-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Julián Castro</span>
                    </label>
                  </p>

                  <p>
                      <label for = "john-delaney-checkbox">
                          <input class = "input-checkbox" id = "john-delaney-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">John Delaney</span>
                    </label>
                  </p>

                  <p>
                      <label for = "tulsi-gabbard-checkbox">
                          <input class = "input-checkbox" id = "tulsi-gabbard-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Tulsi Gabbard</span>
                    </label>
                  </p>

                  <p>
                      <label for = "jay-inslee-checkbox">
                          <input class = "input-checkbox" id = "jay-inslee-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Jay Inslee</span>
                    </label>
                  </p>

                  <p>
                      <label for = "amy-klobuchar-checkbox">
                          <input class = "input-checkbox" id = "amy-klobuchar-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Amy Klobuchar</span>
                    </label>
                  </p>

                  <p>
                      <label for = "wayne-messam-checkbox">
                          <input class = "input-checkbox" id = "wayne-messam-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Wayne Messam</span>
                    </label>
                  </p>

                  <p>
                      <label for = "seth-moulton-checkbox">
                          <input class = "input-checkbox" id = "seth-moulton-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Seth Moulton</span>
                    </label>
                  </p>

                  <p>
                      <label for = "beto-rourke-checkbox">
                          <input class = "input-checkbox" id = "beto-rourke-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Beto O'Rourke</span>
                    </label>
                  </p>

                  <p>
                      <label for = "tim-ryan-checkbox">
                          <input class = "input-checkbox" id = "tim-ryan-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Tim Ryan</span>
                    </label>
                  </p>

                  <p>
                      <label for = "eric-swalwell-checkbox">
                          <input class = "input-checkbox" id = "eric-swalwell-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Eric Swalwell</span>
                    </label>
                  </p>

                  <p>
                      <label for = "michael-bennet-checkbox">
                          <input class = "input-checkbox" id = "michael-bennet-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Michael Bennet</span>
                    </label>
                  </p>

                  <p>
                      <label for = "steve-bullock-checkbox">
                          <input class = "input-checkbox" id = "steve-bullock-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Steve Bullock</span>
                    </label>
                  </p>

                  <p>
                      <label for = "bill-blasio-checkbox">
                          <input class = "input-checkbox" id = "bill-blasio-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Bill de Blasio</span>
                    </label>
                  </p>

                  <p>
                      <label for = "joe-sestak-checkbox">
                          <input class = "input-checkbox" id = "joe-sestak-checkbox" name = "aag-checkbox" type= 'checkbox' checked/>
                          <span class = "input-text">Joe Sestak</span>
                    </label>
                  </p>

                </div>

              </div>


            </form>


          </div> <!--card-action action-sub-panel-->
          
          <!--Card Content for Aggregation Method-->
          <div class = "card-content white-text">
            <span class = "card-title">Select Aggregation Method:</span>
          </div>

          <!--Card Action for Aggregation Method Selection-->
          <div class = "card-action action-sub-panel">

            <form>
              <!--Choices will exist on separate columns-->
              <div class = "row">
                <!--Begin Column for Mean Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "mean-radio">
                      <input class = "input-radio" id = "mean-radio" name = "aggregation-radio" type= 'radio' checked/>
                      <span class = "input-text">Mean</span>
                    </label>
                  </p>

                </div>
                <!-- Begin Column for Median Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "median-radio">
                      <input class = "input-radio" id = "median-radio" name = "aggregation-radio" type= 'radio' disabled/>
                      <span class = "input-text">Median</span>
                    </label>
                  </p>

                </div>


              </div>
            </form>

          </div>

          <!--Card Content for Retweet/Favorite/Hourly, Daily Selection-->
          <div class = "card-content white-text">
            <span class = "card-title">Select Metric:</span>
          </div>

          <!--Card Action for Metric Selection-->
          <div class = "card-action action-sub-panel">

            <form>
              <!--Choices will exist on separate columns-->
              <div class = "row">
                <!--Begin Column for Retweet Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "retweet-radio">
                      <input class = "input-radio" id = "retweet-radio" name = "aag-radio" type= 'radio' checked/>
                      <span class = "input-text">Retweets</span>
                    </label>
                  </p>

                </div>
                
                <!-- Begin Column for Favorite Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "favorite-radio">
                      <input class = "input-radio" id = "favorite-radio" name = "aag-radio" type= 'radio' />
                      <span class = "input-text">Favorites</span>
                    </label>
                  </p>

                </div>


              </div>
            </form>

          </div>

          <div class = "card-content white-text">
            <span class = "card-title">Select Date Range:</span>
          </div>

          <div class = "card-action action-sub-panel">
              <span>Date From:</span>
              <input type="text" id = "aag-date-from" class="datepicker">
              <span>Date To:</span>
              <input type="text" id = "aag-date-to" class="datepicker">
          </div>

          <div class = "card-content">
              <button class="btn waves-effect waves-light selection-submit" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
              </button>
          </div>


        </div> <!--card action-panel-->

      </div> <!--col m3-->

      <!--div column for graph-->
      <div class = "col m9">
        <div class = "at-a-glance-graph"></div>
        <div class = "moving-average-graph"></div>
      </div>

    </div><!--row section valign-wrapper aag-container-->

    <div class = "divider"></div> 


    <div class = "row section valign-wrapper time-container">


      <div class = "col m3 filter-bar">

        <div class = "card action-panel">

          <div class = "card-content white-text">
            <span class = "card-title">Choose Candidate:</span>
          </div>
          
          <div class = "card-action action-sub-panel">

            <form>

              <div class = "row">

                <!--First Candidate Column-->
                <div class = "col m6">

                  <p>
                    <label for = "time-joe-biden-radio">
                      <input class = "time-input-radio" value = "939091" id = "time-joe-biden-radio" name = "time-radio" type= 'radio' checked/>
                      <span class = "input-text">Joe Biden</span>
                    </label>
                  </p>

                  <p>
                    <label for = "time-cory-booker-radio">
                        <input class = "time-input-radio" value = "15808765" id = "time-cory-booker-radio" name = "time-radio" type= 'radio'/>
                        <span class = "input-text">Cory Booker</span>
                  </label>
                  </p>

                  <p>
                      <label for = "time-pete-buttigieg-radio">
                          <input class = "time-input-radio" value = "226222147" id = "time-pete-buttigieg-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Pete Buttigieg</span>
                    </label>
                  </p>
                  
                  <p>
                      <label for = "time-kirsten-gillibrand-radio">
                          <input class = "time-input-radio" value = "72198806" id = "time-kirsten-gillibrand-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Kirsten Gillibrand</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-mike-gravel-radio">
                          <input class = "time-input-radio" value = "14709326" id = "time-mike-gravel-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Mike Gravel</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-kamala-harris-radio">
                          <input class = "time-input-radio" value = "30354991" id = "time-kamala-harris-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Kamala Harris</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-john-hickenlooper-radio">
                          <input class = "time-input-radio" value = "117839957" id = "time-john-hickenlooper-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">John Hickenlooper</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-bernie-sanders-radio">
                          <input class = "time-input-radio" value = "216776631" id = "time-bernie-sanders-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Bernie Sanders</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-donald-trump-radio">
                          <input class = "time-input-radio" value = "25073877" id = "time-donald-trump-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Donald Trump</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-elizabeth-warren-radio">
                          <input class = "time-input-radio" value = "357606935" id = "time-elizabeth-warren-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Elizabeth Warren</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-bill-weld-radio">
                          <input class = "time-input-radio" value = "734783792502575105" id = "time-bill-weld-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Bill Weld</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-marianne-williamson-radio">
                          <input class = "time-input-radio" value = "21522338" id = "time-marianne-williamson-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Marianne Williamson</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-andrew-yang-radio">
                          <input class = "time-input-radio" value = "2228878592" id = "time-andrew-yang-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Andrew Yang</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-tom-steyer-radio">
                          <input class = "time-input-radio" value = "949934436" id = "time-tom-steyer-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Tom Steyer</span>
                    </label>
                  </p>

                </div>
                
                <!-- Second Candidate Column -->
                <div class = "col m6">

                  <p>
                      <label for = "time-julian-castro-radio">
                          <input class = "time-input-radio" value = "19682187" id = "time-julian-castro-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Julián Castro</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-john-delaney-radio">
                          <input class = "time-input-radio" value = "426028646" id = "time-john-delaney-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">John Delaney</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-tulsi-gabbard-radio">
                          <input class = "time-input-radio" value = "26637348" id = "time-tulsi-gabbard-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Tulsi Gabbard</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-jay-inslee-radio">
                          <input class = "time-input-radio" value = "21789463" id = "time-jay-inslee-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Jay Inslee</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-amy-klobuchar-radio">
                          <input class = "time-input-radio" value = "33537967" id = "time-amy-klobuchar-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Amy Klobuchar</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-wayne-messam-radio">
                          <input class = "time-input-radio" value = "33954145" id = "time-wayne-messam-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Wayne Messam</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-seth-moulton-radio">
                          <input class = "time-input-radio" value = "248495200" id = "time-seth-moulton-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Seth Moulton</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-beto-rourke-radio">
                          <input class = "time-input-radio" value = "342863309" id = "time-beto-rourke-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Beto O'Rourke</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-tim-ryan-radio">
                          <input class = "time-input-radio" value = "466532637" id = "time-tim-ryan-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Tim Ryan</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-eric-swalwell-radio">
                          <input class = "time-input-radio" value = "942156122" id = "time-eric-swalwell-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Eric Swalwell</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-michael-bennet-radio">
                          <input class = "time-input-radio" value = "45645232" id = "time-michael-bennet-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Michael Bennet</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-steve-bullock-radio">
                          <input class = "time-input-radio" value = "111721601" id = "time-steve-bullock-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Steve Bullock</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-bill-blasio-radio">
                          <input class = "time-input-radio" value = "476193064" id = "time-bill-blasio-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Bill de Blasio</span>
                    </label>
                  </p>

                  <p>
                      <label for = "time-joe-sestak-radio">
                          <input class = "time-input-radio" value = "46764631" id = "time-joe-sestak-radio" name = "time-radio" type= 'radio'/>
                          <span class = "input-text">Joe Sestak</span>
                    </label>
                  </p>

                </div>

              </div>


            </form>


          </div> <!--card-action action-sub-panel-->
          
          <!--Card Content for Aggregation Method-->
          <div class = "card-content white-text">
            <span class = "card-title">Select Aggregation Method:</span>
          </div>

          <!--Card Action for Aggregation Method Selection-->
          <div class = "card-action action-sub-panel">

            <form>
              <!--Choices will exist on separate columns-->
              <div class = "row">
                <!--Begin Column for Mean Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-mean-radio">
                      <input class = "input-radio" id = "time-mean-radio" name = "time-aggregation-radio" type= 'radio' checked/>
                      <span class = "input-text">Mean</span>
                    </label>
                  </p>

                </div>
                <!-- Begin Column for Median Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-median-radio">
                      <input class = "input-radio" id = "time-median-radio" name = "time-aggregation-radio" type= 'radio' disabled/>
                      <span class = "input-text">Median</span>
                    </label>
                  </p>

                </div>


              </div>
            </form>

          </div>

          <!--Card Content for Retweet/Favorite/Hourly, Daily Selection-->
          <div class = "card-content white-text">
            <span class = "card-title">Select Metric:</span>
          </div>

          <!--Card Action for Metric Selection-->
          <div class = "card-action action-sub-panel">

            <form>
              <!--Choices will exist on separate columns-->
              <div class = "row">
                <!--Begin Column for Retweet/Count Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-retweet-radio">
                      <input class = "input-radio" id = "time-retweet-radio" name = "time-metric-radio" type= 'radio' checked/>
                      <span class = "input-text">Retweets</span>
                    </label>
                  </p>

                  
                  <p>
                    <label for = "time-count-radio">
                      <input class = "input-radio" id = "time-count-radio" name = "time-metric-radio" type= 'radio' />
                      <span class = "input-text">Count</span>
                    </label>
                  </p>



                </div>
                
                <!-- Begin Column for Favorite Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-favorite-radio">
                      <input class = "input-radio" id = "time-favorite-radio" name = "time-metric-radio" type= 'radio' />
                      <span class = "input-text">Favorites</span>
                    </label>
                  </p>

                </div>


              </div>
            </form>

          </div>

          <!--Card Content for Hourly/Daily Selection-->
          <div class = "card-content white-text">
            <span class = "card-title">Select Hourly/Daily:</span>
          </div>

          <!--Card Action for Hourly/Daily Selection-->
          <div class = "card-action action-sub-panel">

            <form>
              <!--Choices will exist on separate columns-->
              <div class = "row">
                <!--Begin Column for Hourly Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-hourly-radio">
                      <input class = "input-radio" id = "time-hourly-radio" name = "time-time-radio" type= 'radio' checked/>
                      <span class = "input-text">Hourly</span>
                    </label>
                  </p>

                </div>
                
                <!-- Begin Column for Daily Selection-->
                <div class = "col m6">

                  <p>
                    <label for = "time-daily-radio">
                      <input class = "input-radio" id = "time-daily-radio" name = "time-time-radio" type= 'radio' />
                      <span class = "input-text">Daily</span>
                    </label>
                  </p>

                </div>


              </div>
            </form>

          </div> <!--Card Action for Hourly/Daily Selection-->

          <div class = "card-content white-text">
            <span class = "card-title">Select Date Range:</span>
          </div>

          <div class = "card-action action-sub-panel">
              <span>Date From:</span>
              <input type="text" id = "time-date-from" class="datepicker">
              <span>Date To:</span>
              <input type="text" id = "time-date-to" class="datepicker">
          </div>

          <div class = "card-content">
              <button class="btn waves-effect waves-light time-selection-submit" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
              </button>
          </div>


        </div> <!--card action-panel-->

      </div> <!--col m3-->

      <!--div column for graph-->
      <div class = "col m9">
        <div class = "time-graph"></div>
      </div>

    </div> <!--row section valign-wrapper hourly-weekly-container-->


  <div class = "divider"></div>


  <div class = "row section valign-wrapper dist-container">


    <div class = "col m3 filter-bar">

      <div class = "card action-panel">

        <div class = "card-content white-text">
          <span class = "card-title">Choose Candidates:</span>
        </div>
        
        <div class = "card-action action-sub-panel">

          <form>

            <div class = "row">

              <!--First Candidate Column-->
              <div class = "col m6">

                <p>
                  <label for = "dist-joe-biden-checkbox">
                    <input class = "dist-input-checkbox" id = "dist-joe-biden-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                    <span class = "input-text">Joe Biden</span>
                  </label>
                </p>

                <p>
                  <label for = "dist-cory-booker-checkbox">
                      <input class = "dist-input-checkbox" id = "dist-cory-booker-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                      <span class = "input-text">Cory Booker</span>
                </label>
                </p>

                <p>
                    <label for = "dist-pete-buttigieg-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-pete-buttigieg-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Pete Buttigieg</span>
                  </label>
                </p>
                
                <p>
                    <label for = "dist-kirsten-gillibrand-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-kirsten-gillibrand-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Kirsten Gillibrand</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-mike-gravel-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-mike-gravel-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Mike Gravel</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-kamala-harris-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-kamala-harris-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Kamala Harris</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-john-hickenlooper-checkbox">
                        <input class = "input-checkbox" id = "dist-john-hickenlooper-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">John Hickenlooper</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-bernie-sanders-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-bernie-sanders-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Bernie Sanders</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-donald-trump-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-donald-trump-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Donald Trump</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-elizabeth-warren-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-elizabeth-warren-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Elizabeth Warren</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-bill-weld-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-bill-weld-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Bill Weld</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-marianne-williamson-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-marianne-williamson-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Marianne Williamson</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-andrew-yang-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-andrew-yang-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Andrew Yang</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-tom-steyer-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-tom-steyer-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Tom Steyer</span>
                  </label>
                </p>

              </div>
              
              <!-- Second Candidate Column -->
              <div class = "col m6">

                <p>
                    <label for = "dist-julian-castro-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-julian-castro-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Julián Castro</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-john-delaney-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-john-delaney-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">John Delaney</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-tulsi-gabbard-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-tulsi-gabbard-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Tulsi Gabbard</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-jay-inslee-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-jay-inslee-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Jay Inslee</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-amy-klobuchar-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-amy-klobuchar-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Amy Klobuchar</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-wayne-messam-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-wayne-messam-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Wayne Messam</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-seth-moulton-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-seth-moulton-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Seth Moulton</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-beto-rourke-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-beto-rourke-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Beto O'Rourke</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-tim-ryan-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-tim-ryan-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Tim Ryan</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-eric-swalwell-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-eric-swalwell-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Eric Swalwell</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-michael-bennet-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-michael-bennet-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Michael Bennet</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-steve-bullock-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-steve-bullock-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Steve Bullock</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-bill-blasio-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-bill-blasio-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Bill de Blasio</span>
                  </label>
                </p>

                <p>
                    <label for = "dist-joe-sestak-checkbox">
                        <input class = "dist-input-checkbox" id = "dist-joe-sestak-checkbox" name = "dist-checkbox" type= 'checkbox' checked/>
                        <span class = "input-text">Joe Sestak</span>
                  </label>
                </p>

              </div>

            </div>


          </form>


        </div> <!--card-action action-sub-panel-->
        
        <!--Card Content for Aggregation Method-->
        <div class = "card-content white-text">
          <span class = "card-title">Select Aggregation Method:</span>
        </div>

        <!--Card Action for Aggregation Method Selection-->
        <div class = "card-action action-sub-panel">

          <form>
            <!--Choices will exist on separate columns-->
            <div class = "row">
              <!--Begin Column for Mean Selection-->
              <div class = "col m6">

                <p>
                  <label for = "mean-radio">
                    <input class = "input-radio" id = "mean-radio" name = "aggregation-radio" type= 'radio' checked/>
                    <span class = "input-text">Mean</span>
                  </label>
                </p>

              </div>
              <!-- Begin Column for Median Selection-->
              <div class = "col m6">

                <p>
                  <label for = "median-radio">
                    <input class = "input-radio" id = "median-radio" name = "aggregation-radio" type= 'radio' disabled/>
                    <span class = "input-text">Median</span>
                  </label>
                </p>

              </div>


            </div>
          </form>

        </div>

        <!--Card Content for Retweet/Favorite/Count Selection-->
        <div class = "card-content white-text">
          <span class = "card-title">Select Metric:</span>
        </div>

        <!--Card Action for Metric Selection-->
        <div class = "card-action action-sub-panel">

          <form>
            <!--Choices will exist on separate columns-->
            <div class = "row">
              <!--Begin Column for Retweet/Count Selection-->
              <div class = "col m6">

                <p>
                  <label for = "dist-retweet-radio">
                    <input class = "dist-input-radio" id = "dist-retweet-radio" name = "dist-radio" type= 'radio' checked/>
                    <span class = "input-text">Retweets</span>
                  </label>
                </p>

                <p>
                  <label for = "dist-count-radio">
                    <input class = "dist-input-radio" id = "dist-retweet-radio" name = "dist-radio" type= 'radio'/>
                    <span class = "input-text">Count</span>
                  </label>
                </p>

              </div>
              
              <!-- Begin Column for Favorite Selection-->
              <div class = "col m6">

                <p>
                  <label for = "dist-favorite-radio">
                    <input class = "dist-input-radio" id = "dist-favorite-radio" name = "dist-radio" type= 'radio' />
                    <span class = "input-text">Favorites</span>
                  </label>
                </p>

              </div>


            </div>
          </form>

        </div>

        <div class = "card-content white-text">
          <span class = "card-title">Select Date Range:</span>
        </div>

        <div class = "card-action action-sub-panel">
            <span>Date From:</span>
            <input type="text" id = "dist-date-from" class="datepicker">
            <span>Date To:</span>
            <input type="text" id = "dist-date-to" class="datepicker">
        </div>

        <div class = "card-content">
            <button class="btn waves-effect waves-light dist-selection-submit" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>


      </div> <!--card action-panel-->

    </div> <!--col m3-->

    <!--div column for graph-->
    <div class = "col m9">
      <div class = "histogram-graph"></div>
      <div class = "box-plot-graph"></div>
    </div>

  </div> <!--row section valign-wrapper dist-container-->


  <!-- <div class = "secti" -->

  
    <div class = "divider"></div>


  <footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <h5 class="white-text">About The Project</h5>
          <p class="grey-text text-lighten-4">The project explores data from the Twitter accounts of 2020 candidates for the presidency of the United States.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <span class="orange-text text-lighten-3">Eduardo Landeros</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <!-- <script src="../static/js/d3/d3.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/d3-fetch"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>
  <script src="../static/js/app2.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script> -->

  </body>

  
</html>
