<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta charset="ut-8">
  <title>Tweetocracy</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">Tweetocracy!</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('machine_learning') }}" class = "machine-learning-link">Machine Learning</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{ url_for('machine_learning') }}">Machine Learning</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class = "row section machine-learning-container">


        <div class = "col m3 filter-bar">
  
          <div class = "card action-panel">
  
            <div class = "card-content white-text">
              <span class = "card-title">Choose Candidate:</span>
            </div>
            
            <div class = "card-action action-sub-panel">
  
              <form>
  
                <div class = "row">
  
                  <!--First Candidate Column-->
                  <div class = "col m6">
  
                    <p>
                      <label for = "machine-learning-joe-biden-radio" class = "machine-learning-choice">
                        <input class = "machine-learning-input-radio" value = "939091" id = "machine-learning-joe-biden-radio" name = "machine-learning-radio" type= 'radio' checked/>
                        <span class = "user-guess input-text">Joe Biden</span>
                      </label>
                    </p>

  
                    <p>
                        <label for = "machine-learning-kamala-harris-radio" class = "machine-learning-choice">
                            <input class = "machine-learning-input-radio" value = "30354991" id = "machine-learning-kamala-harris-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "user-guess input-text">Kamala Harris</span>
                      </label>
                    </p>

  
                    <p>
                        <label for = "machine-learning-bernie-sanders-radio" class = "machine-learning-choice">
                            <input class = "machine-learning-input-radio" value = "216776631" id = "machine-learning-bernie-sanders-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "user-guess input-text">Bernie Sanders</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-donald-trump-radio" class = "machine-learning-choice">
                            <input class = "machine-learning-input-radio" value = "25073877" id = "machine-learning-donald-trump-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "user-guess input-text">Donald Trump</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-elizabeth-warren-radio" class = "machine-learning-choice">
                            <input class = "machine-learning-input-radio" value = "357606935" id = "machine-learning-elizabeth-warren-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "user-guess input-text">Elizabeth Warren</span>
                      </label>
                    </p>
  
                  </div>
  
                </div>
  
  
              </form>
  
  
            </div> <!--card-action action-sub-panel-->
            
            
  
            <div class = "card-content">
                <button class="btn waves-effect waves-light prediction-selection-submit" type="submit" name="action">Submit Answer
                    <i class="material-icons right">send</i>
                </button>

                <br>
                <br>

                <button class="btn waves-effect waves-light reset-selection-submit" type="submit" name="action">New Tweet
                    <i class="material-icons right">send</i>
                </button>
            </div>
  
  
          </div> <!--card action-panel-->
  
        </div> <!--col m3-->
  
        <!--div column for graph-->
        <div class = "col s6">
          <!-- <div class = "machine-learning-tweet"></div> -->

          <div class="section no-pad-bot">
            <div class = "container">
              <br><br>
              <h4 class="header black-text context-header">Tweet Info</h3>
              <div class="row">
                <p class="header header-description light"><u>Text</u></p>
                <p id = "random-tweet-text" class = 'random-field'></p>

                <p class="header header-description light"><u>Retweets</u></p>
                <p id = "random-tweet-retweets" class = 'random-field'></p>

                <p class="header header-description light"><u>Favorites</u></p>
                <p id = "random-tweet-favorites" class = 'random-field'></p>
                
                <p class="header header-description light"><u>Created at</u></p>
                <p id = "random-tweet-created" class = 'random-field'></p>


              </div>

              <div class = "divider"></div>

              <h5 class = "header black-text context-header">Your Guess</h4>
              <div class = "row">
                <p id = "user-guess"></p>
              </div>


              <div class = "divider"></div>

              <h5 class = "header black-text context-header">Random Forest Model Predictions</h4>
              <div class = "row">
                <p class="header header-description light"><u>Top Prediction</u></p>
                <p id = "model-top-prediction"></p>

                <p class="header header-description light"><u>Second Prediction</u></p>
                <p id = "model-second-prediction"></p>

              </div>

              <div class = "divider"></div>

              <h5 class = "header black-text context-header">True Answer</h4>
              <div class = "row">
                <p id = "true-answer"></p>
              </div>

                      
              <br><br>
        
            </div>
          </div>
        </div>
  
        
        <!--Helper Card Section-->
  
        <div class = "col s3">
  
            <div class="card helper-panel">
  
              <div class="card-content white-text">
                <span class="card-title">A Classification Model</span>
              </div>
              <div class="card-action helper-sub-panel">
                <P>This model has been trained on ~18,000 tweets from candidates taking into account
                  features such as number of retweets, number of favorites, month, day, and hour published
                  as well as text information, with the goal of being able to predict which user 
                  published a given tweet based on this information.

                  From a selection of the top 5 candidates, a random selection has a ~<strong>20%</strong> chance of 
                  guessing correctly. This model has an accuracy rate of ~<strong>78.8%</strong> for predicting
                  the user correctly. By "hypertuning" paramaters within the model, we can make very accurate 
                  classification models.
                </P>
                <p>Notes:</p>
  
  
                <ul class = "browser-default">
  
                  <li>The top five candidates were selected for two reasons: it made the model file size small, and 
                    having 5 candidates rather than 28 allows for much greater accuracy. With previous models which were
                    developed with all 28 candidates, the accuracy rate was about ~55% compared to a random toss of
                    ~3.5%.
                  </li>

                  <li>Text data contains key information for distinguishing candidates who otherwise have very similar
                    metrics. On previous models which included all candidates, the model would often confuse many
                    of the same candidates with each other (usually those with low engagement numbers).
                  </li>
  
                </ul> 
              </div>
  
            </div> <!--card helper-panel-->
  
  
        </div> <!-- ""col s3"-->
  
  
      </div> <!--row section valign-wrapper hourly-weekly-container-->






  <footer class="page-footer blue darken-4">
    <div class = "container">
        <div class="row">
        <div class="col s8 offset-s2">
            <h5 class = "white-text">Contact</h5>
            <p class = "orange-text">roble.development@gmail.com</p>
            <h5 class="white-text">About The Project</h5>
            <p class="grey-text text-lighten-4">The project explores data from the Twitter accounts of 2020 candidates for the presidency of the United States.</p>
        </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        <p>Made by <span class="orange-text text-lighten-3">Eduardo Landeros</span></p>
        </div>
    </div>
    </footer>


    <!--  Scripts-->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- <script src="../static/js/d3/d3.min.js"></script> -->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    
        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
        };
    
        return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/d3-fetch"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/app2.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script> -->

    </body>

    
</html>
