<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta charset="ut-8">
  <title>Tweetocracy</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">Tweetocracy!</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('machine_learning') }}" class = "machine-learning-link">Machine Learning</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{ url_for('machine_learning') }}">Machine Learning</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <div class = "row section valign-wrapper machine-learning-container">


        <div class = "col m3 filter-bar">
  
          <div class = "card action-panel">
  
            <div class = "card-content white-text">
              <span class = "card-title">Choose Candidate:</span>
            </div>
            
            <div class = "card-action action-sub-panel">
  
              <form>
  
                <div class = "row">
  
                  <!--First Candidate Column-->
                  <div class = "col m6">
  
                    <p>
                      <label for = "machine-learning-joe-biden-radio">
                        <input class = "machine-learning-input-radio" value = "939091" id = "machine-learning-joe-biden-radio" name = "machine-learning-radio" type= 'radio' checked/>
                        <span class = "input-text">Joe Biden</span>
                      </label>
                    </p>
  
                    <p>
                      <label for = "machine-learning-cory-booker-radio">
                          <input class = "machine-learning-input-radio" value = "15808765" id = "machine-learning-cory-booker-radio" name = "machine-learning-radio" type= 'radio'/>
                          <span class = "input-text">Cory Booker</span>
                    </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-pete-buttigieg-radio">
                            <input class = "machine-learning-input-radio" value = "226222147" id = "machine-learning-pete-buttigieg-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Pete Buttigieg</span>
                      </label>
                    </p>
                    
                    <p>
                        <label for = "machine-learning-kirsten-gillibrand-radio">
                            <input class = "machine-learning-input-radio" value = "72198806" id = "machine-learning-kirsten-gillibrand-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Kirsten Gillibrand</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-mike-gravel-radio">
                            <input class = "machine-learning-input-radio" value = "14709326" id = "machine-learning-mike-gravel-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Mike Gravel</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-kamala-harris-radio">
                            <input class = "machine-learning-input-radio" value = "30354991" id = "machine-learning-kamala-harris-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Kamala Harris</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-john-hickenlooper-radio">
                            <input class = "machine-learning-input-radio" value = "117839957" id = "machine-learning-john-hickenlooper-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">John Hickenlooper</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-bernie-sanders-radio">
                            <input class = "machine-learning-input-radio" value = "216776631" id = "machine-learning-bernie-sanders-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Bernie Sanders</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-donald-trump-radio">
                            <input class = "machine-learning-input-radio" value = "25073877" id = "machine-learning-donald-trump-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Donald Trump</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-elizabeth-warren-radio">
                            <input class = "machine-learning-input-radio" value = "357606935" id = "machine-learning-elizabeth-warren-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Elizabeth Warren</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-bill-weld-radio">
                            <input class = "machine-learning-input-radio" value = "734783792502575105" id = "machine-learning-bill-weld-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Bill Weld</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-marianne-williamson-radio">
                            <input class = "machine-learning-input-radio" value = "21522338" id = "machine-learning-marianne-williamson-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Marianne Williamson</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-andrew-yang-radio">
                            <input class = "machine-learning-input-radio" value = "2228878592" id = "machine-learning-andrew-yang-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Andrew Yang</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-tom-steyer-radio">
                            <input class = "machine-learning-input-radio" value = "949934436" id = "machine-learning-tom-steyer-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Tom Steyer</span>
                      </label>
                    </p>
  
                  </div>
                  
                  <!-- Second Candidate Column -->
                  <div class = "col m6">
  
                    <p>
                        <label for = "machine-learning-julian-castro-radio">
                            <input class = "machine-learning-input-radio" value = "19682187" id = "machine-learning-julian-castro-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Julián Castro</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-john-delaney-radio">
                            <input class = "machine-learning-input-radio" value = "426028646" id = "machine-learning-john-delaney-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">John Delaney</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-tulsi-gabbard-radio">
                            <input class = "machine-learning-input-radio" value = "26637348" id = "machine-learning-tulsi-gabbard-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Tulsi Gabbard</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-jay-inslee-radio">
                            <input class = "machine-learning-input-radio" value = "21789463" id = "machine-learning-jay-inslee-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Jay Inslee</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-amy-klobuchar-radio">
                            <input class = "machine-learning-input-radio" value = "33537967" id = "machine-learning-amy-klobuchar-radio" name = " machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Amy Klobuchar</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-wayne-messam-radio">
                            <input class = " machine-learning-input-radio" value = "33954145" id = "machine-learning-wayne-messam-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Wayne Messam</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-seth-moulton-radio">
                            <input class = "machine-learning-input-radio" value = "248495200" id = "machine-learning-seth-moulton-radio" name = " achine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Seth Moulton</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-beto-rourke-radio">
                            <input class = "machine-learning-input-radio" value = "342863309" id = "machine-learning-beto-rourke-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Beto O'Rourke</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-tim-ryan-radio">
                            <input class = "machine-learning-input-radio" value = "466532637" id = "machine-learning-tim-ryan-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Tim Ryan</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-eric-swalwell-radio">
                            <input class = "machine-learning-input-radio" value = "942156122" id = "machine-learning-eric-swalwell-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Eric Swalwell</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-michael-bennet-radio">
                            <input class = "machine-learning-input-radio" value = "45645232" id = "machine-learning-michael-bennet-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Michael Bennet</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-steve-bullock-radio">
                            <input class = "machine-learning-input-radio" value = "111721601" id = "machine-learning-steve-bullock-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Steve Bullock</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-bill-blasio-radio">
                            <input class = "machine-learning-input-radio" value = "476193064" id = "machine-learning-bill-blasio-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Bill de Blasio</span>
                      </label>
                    </p>
  
                    <p>
                        <label for = "machine-learning-joe-sestak-radio">
                            <input class = "machine-learning-input-radio" value = "46764631" id = "machine-learning-joe-sestak-radio" name = "machine-learning-radio" type= 'radio'/>
                            <span class = "input-text">Joe Sestak</span>
                      </label>
                    </p>
  
                  </div>
  
                </div>
  
  
              </form>
  
  
            </div> <!--card-action action-sub-panel-->
            
            
  
            <div class = "card-content">
                <button class="btn waves-effect waves-light time-selection-submit" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
  
  
          </div> <!--card action-panel-->
  
        </div> <!--col m3-->
  
        <!--div column for graph-->
        <div class = "col s6">
          <div class = "machine-learning-tweet"></div>
        </div>
  
        
        <!--Helper Card Section-->
  
        <div class = "col s3">
  
            <div class="card helper-panel">
  
              <div class="card-content white-text">
                <span class="card-title">Day & Time</span>
              </div>
              <div class="card-action helper-sub-panel">
                <P>As opposed to the first couple of graphs, the "Day & Time" graph
                  presents data on each individual candidate's engagement metrics rather 
                  than comparing candidates to each other. Here users may try to see
                  whether metrics differ across hours of the day in which tweets were
                  published or even across days of the week.
                </P>
                <p>Notes:</p>
  
  
                <ul class = "browser-default">
  
                  <li>Another metric, "Count", was added for this visualization in addition
                    to "Retweets" and "Favorites". Count measures the <strong>total</strong> number of tweets
                    the account published for that hour or day of the week for the date
                    range provided, whereas Retweets/Favorites measure the <strong>average</strong> engagement metric 
                    received from twitter users for those categories.
                  </li>
  
                </ul>
              </div>
  
            </div> <!--card helper-panel-->
  
  
        </div> <!-- ""col s3"-->
  
  
      </div> <!--row section valign-wrapper hourly-weekly-container-->






  <footer class="page-footer blue darken-4">
    <div class = "container">
        <div class="row">
        <div class="col s8 offset-s2">
            <h5 class = "white-text">Contact</h5>
            <p class = "orange-text">tweetocracy2020@gmail.com</p>
            <h5 class="white-text">About The Project</h5>
            <p class="grey-text text-lighten-4">The project explores data from the Twitter accounts of 2020 candidates for the presidency of the United States.</p>
        </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        Made by <span class="orange-text text-lighten-3">Eduardo Landeros</a>
        </div>
    </div>
    </footer>


    <!--  Scripts-->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- <script src="../static/js/d3/d3.min.js"></script> -->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    
        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
        };
    
        return t;
    }(document, "script", "twitter-wjs"));</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/d3-fetch"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="../static/js/app2.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" charset="utf-8"></script> -->

    </body>

    
</html>
